.profile__edit-button {
    padding: 0;
    background: url("./../../../images/edit-button.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-position: center center;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-self: end;
    cursor: pointer;
    transition: .3s linear;
}

.profile__edit-button:hover {
    opacity: 0.6;
}