.popup__close-button {
    padding: 0;
    margin-right: -40px;
    margin-top: -40px;
    width: 32px;
    height: 32px;
    background: url("./../../../images/close-button.svg") no-repeat;
    border: none;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    transition: .3s linear;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .popup__close-button {
        margin-right: 0;
        margin-top: -38px;
        background: url("./../../../images/close-button-small.svg") no-repeat;
        width: 20px;
        height: 20px;
    }
} 