.profile__wrapper {
    display: flex;
    gap: 16px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .profile__wrapper {
        position: relative;
        overflow: visible;
        width: fit-content;
    }
} 